body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
}
.ais-Hits {
  width: 100% !important;
}
.ais-Hits-list {
  width: 90vw;
  max-width: 800px; 
  margin: auto;
}
.pdfs-list .ais-Hits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 800px;
}
ul li {
  list-style: none !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search-box input {
  width: 400px;
  /* height: 30px; */
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  margin: auto;
  font-size: 20px;
  padding: 10px 20px;
  outline: none;
}
.search-box input::placeholder {
  color: #999;
}

.search-box form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
/* .react-pdf__Page__textContent.textLayer {
  display: none;
}
.react-pdf__Page__annotations.annotationLayer {
  display: none;
} */